6 - Nifi process template/IR_Activities.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>IR KB - IR Activies Dataset - (MISP-TheHive-Cortex)</description>
    <groupId>e1d3d34b-018d-1000-5888-cc7ef5b52c46</groupId>
    <name>IR Activities</name>
    <snippet>
        <processGroups>
            <id>6f73fb1c-18ca-3f32-0000-000000000000</id>
            <parentGroupId>66130037-5fe3-3fc9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>6f73fb1c-18ca-3f32-934a-78c3d35aec2a</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>14305b08-5a76-3e9e-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>c6373c78-7353-3a23-8dbb-4bbcd3e209d8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>95aa473c-1ef4-34fa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2ddc4d33-a16e-350f-a4ca-b2fcb6ddfd3a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>260d6abb-d5e1-3bf4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3d24f19b-070b-3306-a109-4ef0617f4a41</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4c6b2b8e-7000-3d99-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>dd8062a5-99d7-32c4-b4c1-2fe9042708c5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>6efaa0dd-57fe-342e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6a04993-836b-3e14-8a5c-ecdbf0f0fd92</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6646cfd8-067c-3be2-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>024a2336-ea74-3b17-96df-2c67708bbbfa</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>f8b9813a-1939-3d9c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40c9b5b8-32f8-3842-8a67-100fede47261</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>95aa473c-1ef4-34fa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2ddc4d33-a16e-350f-a4ca-b2fcb6ddfd3a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6757b4b0-e981-3273-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>81fd471e-ed8b-330d-8980-115a3aa9e263</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>260d6abb-d5e1-3bf4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3d24f19b-070b-3306-a109-4ef0617f4a41</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>7f1499fb-51e8-32a7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>39c4cdd6-1003-3571-8aba-cc1c10dd9c6a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>828fd1af-328d-3b25-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>9ce31fb0-a46e-3e06-ba8a-53c1bf3407c7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>9b1444e6-20d3-3497-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f782efdb-217e-367a-97fb-066d172e7784</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8875119e-7cb4-3ea9-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>aa2d2101-2ccd-3c91-8ee6-8e2af3f6a6f5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>967a8c22-2d79-32d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>449250b5-604b-3286-875a-5933975578c6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8f91b85d-6446-3486-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>7bfbd17b-78d0-394c-b1f0-3420648e3a4a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>f8b9813a-1939-3d9c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40c9b5b8-32f8-3842-8a67-100fede47261</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ab2776c9-d285-3e9e-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>e0f4392f-7e58-3ee5-b532-a1dbc55b6df0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>417c900f-f7da-356b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f088046-0816-3076-a1d9-4b15454f752f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>afd2079e-bd13-3e68-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <versionedComponentId>5aeedada-5004-31b8-89bc-28baaa98d643</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>5e75d130-8ced-3f20-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a853834b-d36b-3d90-be9a-1dd4f9048f62</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>6f73fb1c-18ca-3f32-0000-000000000000</groupId>
                        <id>a5dc8901-1167-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>260d6abb-d5e1-3bf4-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4392.0</x>
                        <y>-1048.0</y>
                    </position>
                    <versionedComponentId>3d24f19b-070b-3306-a109-4ef0617f4a41</versionedComponentId>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>Groovy</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>import org.apache.commons.csv.*
import java.nio.charset.StandardCharsets
import groovy.json.JsonSlurper
import java.util.UUID

def flowFile = session.get()
if (!flowFile) return

try {
    flowFile = session.write(flowFile, { inputStream, outputStream -&gt;
        def reader = new InputStreamReader(inputStream, StandardCharsets.UTF_8)
        def writer = new OutputStreamWriter(outputStream, StandardCharsets.UTF_8)
        def jsonSlurper = new JsonSlurper()

        // Write RDF prefixes
        writer.write("""@prefix : &lt;http://irkb.com/ir-ontology#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix prov: &lt;http://www.w3.org/ns/prov#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .

""")

        def parser = CSVFormat.DEFAULT.withFirstRecordAsHeader().withIgnoreEmptyLines().withTrim().parse(reader)
        def safeGet = { record, header -&gt; record.isMapped(header) ? record.get(header)?.trim() : null }
        def escape = { text -&gt; text ? text.replace('"', '\\"') : null }

        parser.records.each { record -&gt;
            try {
                def incidentId = safeGet(record, 'id')
                if (!incidentId) {
                    log.warn("Skipping record with missing incident ID")
                    return
                }

                def incidentUri = "&lt;http://irkb.com/ir-ontology/incident/${incidentId}&gt;"
                writer.write("$incidentUri a :Incident ;\n")
                writer.write("    :hasIncidentId \"${incidentId}\" ;\n")

                def writeLiteral = { property, value -&gt;
                    if (value) writer.write("    :$property \"${escape(value)}\" ;\n")
                }

                def writeDate = { property, value -&gt;
                    if (value) {
                        // Try to parse and format date as ISO 8601 if possible
                        def dt = null
                        try {
                            dt = java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy HH:mm").parse(value)
                            def isoDate = java.time.LocalDateTime.from(dt).toString()
                            writer.write("    :$property \"${isoDate}\"^^xsd:dateTime ;\n")
                        } catch (_) {
                            // fallback if parsing fails, just write original
                            writer.write("    :$property \"${escape(value)}\" ;\n")
                        }
                    }
                }

                writeLiteral('hasIncidentName', safeGet(record, 'title'))
                writeLiteral('hasIncidentDescription', safeGet(record, 'description'))
                writeLiteral('hasIncidentSeverity', safeGet(record, 'severity'))
                writeDate('hasIncidentCreationDateTime', safeGet(record, 'createdAt'))
                writeDate('hasConfirmationDateTime', safeGet(record, 'startDate'))
                writeDate('hasEndDateTime', safeGet(record, 'endDate'))
                writeLiteral('hasIncidentStatus', safeGet(record, 'status'))
                writeLiteral('hasIncidentStage', safeGet(record, 'stage'))

                def analystEmail = safeGet(record, 'createdBy')
                if (analystEmail) {
                    writer.write("    :hasConfirmationAnalyst [ a :Analyst ; :hasAnalystEmail \"${escape(analystEmail)}\" ] ;\n")
                }

                // Process Tasks (COAs)
                def coaLinks = []
                def tasksJson = safeGet(record, 'tasks')
                if (tasksJson) {
                    try {
                        def tasks = jsonSlurper.parseText(tasksJson)
                        tasks.each { task -&gt;
                            def taskTitle = task['title'] ?: 'Unknown'
                            def taskUri = "&lt;http://irkb.com/ir-ontology/courseofaction/${incidentId}_${taskTitle.replaceAll('[^a-zA-Z0-9]', '_')}&gt;"
                            coaLinks &lt;&lt; taskUri
                        }
                    } catch (ex) {
                        log.error("Failed to parse case tasks JSON: ${ex.message}")
                    }
                }

                // Process Observables as Artefacts
                def observableLinks = []
                def observablesJson = safeGet(record, 'observables')
                if (observablesJson) {
                    try {
                        def observables = jsonSlurper.parseText(observablesJson)
                        observables.each { obs -&gt;
                            def obsId = UUID.randomUUID().toString()
                            def obsUri = "&lt;http://irkb.com/ir-ontology/artefact/${incidentId}_${obsId}&gt;"
                            observableLinks &lt;&lt; obsUri
                        }
                    } catch (ex) {
                        log.error("Failed to parse artefacts JSON: ${ex.message}")
                    }
                }

                // Process Security Events and EventActions
                def eventActionLinks = []
                def eventsJson = safeGet(record, 'Event')
                def eventUri = null
                def events = []
                if (eventsJson) {
                    try {
                        events = jsonSlurper.parseText(eventsJson)
                        if (events &amp;&amp; events.size() &gt; 0) {
                            def evtId = events[0]['event_id'] ?: UUID.randomUUID().toString()
                            eventUri = "&lt;http://irkb.com/ir-ontology/securityevent/${incidentId}_${evtId}&gt;"
                            events.eachWithIndex { evtAction, idx -&gt;
                                def actionUri = "&lt;http://irkb.com/ir-ontology/securityevent/${incidentId}_${evtId}_action_${idx + 1}&gt;"
                                eventActionLinks &lt;&lt; actionUri
                            }
                        }
                    } catch (ex) {
                        log.error("Failed to parse security events JSON: ${ex.message}")
                    }
                }

                // Process Analyses
                def analysisLinks = []
                def analysisJson = safeGet(record, 'Observables Analysis')
                if (analysisJson) {
                    try {
                        def analysisList = jsonSlurper.parseText(analysisJson)
                        analysisList.each {
                            def analysisId = UUID.randomUUID().toString()
                            def analysisUri = "&lt;http://irkb.com/ir-ontology/securityanalysis/${incidentId}_${analysisId}&gt;"
                            analysisLinks &lt;&lt; analysisUri
                        }
                    } catch (ex) {
                        log.error("Failed to parse security analysis JSON: ${ex.message}")
                    }
                }

                // Write links from Incident to COAs, Observables, Events, Analysis
                coaLinks.each { writer.write("    :hasCoa ${it} ;\n") }
                observableLinks.each { writer.write("    :hasArtefact ${it} ;\n") }
                if (eventUri) {
                    eventActionLinks.each { writer.write("    :hasSecurityEventAction ${it} ;\n") }
                }
                analysisLinks.each { writer.write("    :hasSecurityAnalysis ${it} ;\n") }

                writer.write(".\n\n") // close Incident

                // Write COA details
                def tasks = tasksJson ? jsonSlurper.parseText(tasksJson) : []
                tasks.each { task -&gt;
                    def taskTitle = task['title'] ?: 'Unknown'
                    def taskUri = "&lt;http://irkb.com/ir-ontology/courseofaction/${incidentId}_${taskTitle.replaceAll('[^a-zA-Z0-9]', '_')}&gt;"
                    writer.write("${taskUri} a :CourseOfAction ;\n")
                    writer.write("    a :${taskTitle.replaceAll(' ', '')} ;\n")
                    writeLiteral('hasCoaDescription', task['description'])
                    writeLiteral('hasCoaStatus', task['status'])
                    writeDate('hasCoaCreationDateTime', task['createdAt'])
                    writeDate('hasCoaStartDateTime', task['startDate'])
                    writeDate('hasCoaEndDateTime', task['endDate'])
                    if (task['createdBy']) writer.write("    :hasCoaCreationAnalyst [ a :Analyst ; :hasAnalystEmail \"${escape(task['createdBy'])}\" ] ;\n")
                    if (task['owner']) writer.write("    :hasCoaAssignedAnalyst [ a :Analyst ; :hasAnalystEmail \"${escape(task['owner'])}\" ] ;\n")
                    writer.write(".\n\n")
                }

                // Write Observables details as Artefact
                def observables = observablesJson ? jsonSlurper.parseText(observablesJson) : []
                observables.each { obs -&gt;
                    def obsId = UUID.randomUUID().toString()
                    def obsUri = "&lt;http://irkb.com/ir-ontology/artefact/${incidentId}_${obsId}&gt;"
                    writer.write("${obsUri} a :Artefact ;\n")
                    writeLiteral('hasArtefactType', obs['dataType'])
                    writeLiteral('hasArtefactDataValue', obs['data'])
                    if (obs['createdBy']) writer.write("    :hasArtefactCreator [ a :Analyst ; :hasAnalystEmail \"${escape(obs['createdBy'])}\" ] ;\n")
                    writeDate('hasArtefactCreationDateTime', obs['createdAt'])
                    writer.write(".\n\n")
                }

                // Write SecurityEvent and linked EventActions
                if (events &amp;&amp; events.size() &gt; 0) {
                    def evtId = events[0]['event_id'] ?: UUID.randomUUID().toString()
                    def eventUriStr = "&lt;http://irkb.com/event/${incidentId}_${evtId}&gt;"
                    writer.write("${eventUriStr} a :SecurityEvent ;\n")
                    def eventTitle = events[0]['title'] ?: null
                    if (eventTitle) writer.write("    :hasEventTitle \"${escape(eventTitle)}\" ;\n")
                    writer.write("    :hasSecurityEventId \"${escape(evtId)}\" ;\n")  
                    events.eachWithIndex { evtAction, idx -&gt;
                        def actionUri = "&lt;http://irkb.com/ir-ontology/securityevent/${incidentId}_${evtId}_action_${idx + 1}&gt;"
                        writer.write("    :hasSecurityEventAction ${actionUri} ;\n")
                    }
                    writer.write(".\n\n")

                    events.eachWithIndex { evtAction, idx -&gt;
                        def actionUri = "&lt;http://irkb.com/ir-ontology/securityevent/${incidentId}_${evtId}_action_${idx + 1}&gt;"
                        writer.write("${actionUri} a :SecurityEventAction ;\n")
                        writeLiteral('hasSecurityEventActivity', evtAction['action'])
                        writeLiteral('hasSecurityEventDescription', evtAction['title'])  // &lt;&lt;&lt; USE 'title' field as event description
                        if (evtAction['user_email']) writer.write("    prov:wasPerformedBy [ a :Analyst ; :hasAnalystEmail \"${escape(evtAction['user_email'])}\" ] ;\n")
                        writeDate('hasSecurityEventActivityDateTime', evtAction['created'])
                        writer.write(".\n\n")
                    }
                }

                // Write Analyses details
                def analysisList = analysisJson ? jsonSlurper.parseText(analysisJson) : []
                analysisList.each { analysis -&gt;
                    def analysisId = UUID.randomUUID().toString()
                    def analysisUri = "&lt;http://irkb.com/ir-ontology/sceurityanalysis/${incidentId}_${analysisId}&gt;"
                    writer.write("${analysisUri} a :SecurityAnalysis ;\n")
                    writeLiteral('hasSecurityAnalysisDataType', analysis['dataType'])
                    writeLiteral('hasSecurityAnalysisData', analysis['data'])
                    writeLiteral('hasSecurityAnalysisReport', analysis['report'])
                    if (analysis['createdBy']) writer.write("    :hasSecurityAnalysisPerformer [ a :Analyst ; :hasAnalystEmail \"${escape(analysis['createdBy'])}\" ] ;\n")
                    writeDate('hasSecurityAnalysisDateTime', analysis['createdAt'])
                    writer.write(".\n\n")
                }

            } catch (recordEx) {
                log.error("Error processing record: ${recordEx.message}")
            }
        }

        writer.flush()
    } as StreamCallback)

    session.transfer(flowFile, REL_SUCCESS)
} catch (ex) {
    log.error("Processing failed: ${ex.message}")
    session.transfer(flowFile, REL_FAILURE)
}
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>417c900f-f7da-356b-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4896.0</x>
                        <y>-576.0</y>
                    </position>
                    <versionedComponentId>5f088046-0816-3076-a1d9-4b15454f752f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>5e75d130-8ced-3f20-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>3440.0</x>
                        <y>-376.0</y>
                    </position>
                    <versionedComponentId>a853834b-d36b-3d90-be9a-1dd4f9048f62</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>6efaa0dd-57fe-342e-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4424.0</x>
                        <y>-352.0</y>
                    </position>
                    <versionedComponentId>e6a04993-836b-3e14-8a5c-ecdbf0f0fd92</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>7f1499fb-51e8-32a7-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>3760.0</x>
                        <y>-960.0</y>
                    </position>
                    <versionedComponentId>39c4cdd6-1003-3571-8aba-cc1c10dd9c6a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/opt/nifi/nifi-current/irkb2</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>.*\.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>95aa473c-1ef4-34fa-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4928.0</x>
                        <y>-824.0</y>
                    </position>
                    <versionedComponentId>2ddc4d33-a16e-350f-a4ca-b2fcb6ddfd3a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>http.headers.Accept</key>
<value>
    <name>http.headers.Accept</name>
</value>
                            </entry>
                            <entry>
<key>http.headers.Connection</key>
<value>
    <name>http.headers.Connection</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>http.headers.Accept</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>http.headers.Connection</key>
<value>keep-alive</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/x-turtle</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>967a8c22-2d79-32d2-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>3904.0</x>
                        <y>-336.0</y>
                    </position>
                    <versionedComponentId>449250b5-604b-3286-875a-5933975578c6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>invokehttp.status.code, invokehttp.status.message</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>9b1444e6-20d3-3497-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4864.0</x>
                        <y>-408.0</y>
                    </position>
                    <versionedComponentId>f782efdb-217e-367a-97fb-066d172e7784</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>a5dc8901-1167-32d9-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4072.0</x>
                        <y>-584.0</y>
                    </position>
                    <versionedComponentId>d3f3e18d-af26-3585-ae6e-714692865c64</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>
    <name>Socket Write Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://172.20.0.3:7200/repositories/IR-KB4/statements</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>120 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>120 secs</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>120 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>f8b9813a-1939-3d9c-0000-000000000000</id>
                    <parentGroupId>6f73fb1c-18ca-3f32-0000-000000000000</parentGroupId>
                    <position>
                        <x>4176.0</x>
                        <y>-808.0</y>
                    </position>
                    <versionedComponentId>40c9b5b8-32f8-3842-8a67-100fede47261</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.25.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>debug</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>filename, mime.type, file.size</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>IR KB - ACTIVITIES</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/20/2025 01:07:46 UTC</timestamp>
</template>